<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASH</title>
    <h1>ARDUINO SMART HOME HUB</h1>
  </head>

  <body>
    <form action="/" method="post">
      <h2>LED:1 STATE: {{led1}}</h2>
      <p><input type="submit" name="LED1" value="1" /></p>
      <p><input type="submit" name="LED1" value="0" /></p>

      <h2>LED:2 STATE: {{led2}}</h2>
      <p><input type="submit" name="LED2" value="1" /></p>
      <p><input type="submit" name="LED2" value="0" /></p>


      <!-- <h2>LED:3 STATE: {{led3}}</h2>
      <p><input type="submit" name="LED3" value="1" /></p>
      <p><input type="submit" name="LED3" value="0" /></p>
      <h2>LED:4 STATE: {{led4}}</h2>
      <p><input type="submit" name="LED4" value="1" /></p>
      <p><input type="submit" name="LED4" value="0" /></p> -->
    </form>

    <!-- <h2>ESP1 STATUS: {{esp1status}}</h2>
    <h2>ESP2 STATUS: {{esp2status}}</h2> -->
  </body>
</html>
